body {  
    background: linear-gradient(to right, #00534c, #ff0000);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: blue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


p {
    color: black;
    font-size: 30px;
    text-align: left;
    margin: 20px;
    display: block;
}

div{
    display : flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px
}

input{
    height: 35px;
    width: 73px;
    font-size: large;
    text-align: center;
}

button {
    background-color: #564caf85; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button:hover {
    cursor: pointer;
    background-color: crimson;
}